body {
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #212529;
  background-color: rgb(235, 235, 235);
  padding-top: 260px;
  padding-bottom: 30px;
  margin: 0;
  text-rendering: optimizeLegibility !important;
}

.xIOs {
  justify-content: left;
  align-items: left;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 4px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #77a4d2;
}

/*---------------------
  * Banner
  *----------------------
  */
.logo {
  width: 100%;
  top: 0;
  padding: 25px 0 260px 0;
  position: absolute;
  z-index: -1;
}

.banner {
  width: 100%;
  top: 0;
  margin-top: 90px;
  position: relative;
  z-index: -1;
}

#certificate {
  max-width: 700px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*---------------------
  * Label Float
  *----------------------
  */
.label_float {
  color: #000 !important;
  font-weight: bold;
  margin-top: -18px !important;
  background: #fff;
  padding: 0 6px 0 6px;
  border-radius: 3px;
  -webkit-box-shadow: -5px -3px 45px #c0c0c0;
  -moz-box-shadow: -5px -3px 45px #c0c0c0;
  box-shadow: -5px -3px 45px #c0c0c0;
}

.input_float {
  margin-left: 6px;
}

/*----------------------------------------------------------------
   * Custom 
   * ---------------------------------------------------------------
   */
.phone_with_ddd::placeholder {
  color: #000;
}

input[name="radio_tipo_passagem"] {
  margin-bottom: 30px;
}

input[name="radio_tipo_viagem"] {
  margin-bottom: 16px;
}

#title_form {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 800;
}

.msg-validation {
  color: #f05929;
}

/* ----------------------
 * Buttons
 * ----------------------
*/

button {
  font-size: 1.4rem;
  background-color: #fff;
  border: 0;
  color: #000;
  border-radius: 4px;
  line-height: 50px;
  cursor: pointer;
  margin-top: 16px;
}

/*Buscar Cotação, Próximo, Voltar*/
.button-control {
  background-image: linear-gradient(to right, #77a1d3 0%, #79cbca 51%, #77a1d3 100%);
  margin: 0;
  padding: 0px 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  display: block;
  border-radius: 15px;
  border: 1px solid #fff;
}

.button-control:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-control-success {
  background-image: linear-gradient(to right, #76b852 0%, #8dc26f 51%, #76b852 100%);
  margin: 0;
  padding: 0px 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  border-radius: 15px;
  border: 1px solid #fff;
  font-weight: 700;
}

.button-control-success:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-tipo-passagem-esq {
  float: left;
  height: 36px;
  border-radius: 2.1rem 0 0 2.1rem;
  color: #414042 !important;
  font-size: 1rem;
  border: 0.1rem solid #414042 !important;
  line-height: 25px !important;
  padding: 2px 25px 2px 25px;
  /* flex para alinhar conteúdo*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-tipo-passagem-esq:hover {
  color: #77a4d2 !important;
  border: 0.1rem solid #77a4d2 !important;
}

.button-tipo-passagem-dir {
  float: left;
  height: 36px;
  border-radius: 0 2.1rem 2.1rem 0;
  padding: 2px 25px 2px 25px;
  color: #414042 !important;
  font-size: 1rem;
  border: 0.1rem solid #414042 !important;
  line-height: 25px !important;
  margin-left: -1px;
  /* flex para alinhar conteúdo*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-tipo-passagem-dir:hover {
  color: #77a4d2 !important;
  border: 0.1rem solid #77a4d2 !important;
}

.button-tipo-passagem-active {
  position: relative;
  background-color: rgba(41, 44, 240, 0.1);
  border: 0.1rem solid #77a4d2 !important;
  color: #77a4d2 !important;
}

.container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.container h3 {
  position: absolute;
  top: 20%;
  left: 8%;
  right: 8%;
  font-size: 1.2rem;
  color: #000;
}

@media (max-width: 767px) {
  .xIOs {
    justify-content: center;
    align-items: center;
  }

  .logo {
    position: relative;
    padding: 0;
  }

  .logo img {
    height: 180px;
    max-width: 100%;
  }

  #title_form {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 2px;
  }

  body {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background: none !important;
  }

  .formulario {
    padding: 15px !important;
    margin: 0 !important;
  }
  .form-sucesso{
    padding-top:52% !important;
  }

  .banner {
    margin-top: 0;
  }

  .banner img {
    max-width: 100%;
  }

  .data-lado-a-lado {
    width: 50% !important;
    padding: 14px;
  }

  .container h3 {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    font-size: 0.9rem;
    color: #000;
  }

  /*Buscar Cotação, Próximo, Voltar*/
  .button-control {
    margin: 0;
    padding: 0px 12px;
    font-size: 0.8rem;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
    border-radius: 15px;
    border: 1px solid #fff;
  }
  .button-control-success {
    margin: 0;
    padding: 0px 12px;
    font-size: 0.8rem;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
    border-radius: 15px;
    border: 1px solid #fff;
  }
  .button-tipo-passagem-esq {
    font-size: 14px;
  }

  .button-tipo-passagem-dir {
    font-size: 14px;
  }
  #button-buscar-cotacao {
    display: block !important;
    width: 100% !important;
  }
  .btn-block {
    display: block !important;
    width: 100% !important;
  }
  .msg-validation {
    font-size: 11px;
  }
}

.fab {
  font-size: 1.4em;
  margin-right: 6px;
}

.formulario {
  margin: auto;
  background-color: #fff;
  padding: 20px;
  color: #414042;
  max-width: 1000px;
  padding: 32px;
  font-size: 1rem;
  display: block;
  border-radius: 0 0 10px 10px;
}

.form-sucesso {
  margin-top: auto;
  background: #f4f4f4 !important;
  padding: 20px;
  color: #fff;
  max-width: 700px;
  padding: 32px;
  font-size: 1rem;
  display: block;
}

.data-lado-a-lado {
  width: 30%;
  padding-right: 20px;
}

input[type="number"],
input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 12px 8px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ecedf1;
  border-radius: 6px;
  color: #414042;
  text-align: left;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.radio {
  display: flex;
  flex-wrap: wrap;
}

.est1 {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.textHelp {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  color: red;
}

.form-check {
  display: flex;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

img {
  vertical-align: middle;
}

#submit {
  font-size: 1rem;
  font-weight: 700;
  background-color: rgb(41 182 101);
  border: 0;
  padding: 4px 30px;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  line-height: 50px;
  margin-top: 16px;
  vertical-align: middle;
}

#submit:hover {
  background-color: rgb(29 142 77);
  color: white;
}

.span {
  display: flex;
  flex-wrap: wrap;
}

#seletor_idade select {
  width: 60px;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid-row-content {
  padding-right: 14px;
}

.grid-row-content-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
